#homepageContainer{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background: #000;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width:576px) {
    #homepageContainer{
        padding: 0;
    }
    
}