/* edit card item */
.cardContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 3rem 1rem 1rem 1rem;
    margin: 2rem 1rem;
    background-color: rgb(31, 30, 30);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px -4px rgb(83, 83, 83);
    transition: transform 200ms;
    animation: fade-in 1s ease-in-out;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

/* card vote in card-item */

.voteAverage {
    padding: 0.5rem 0;
    color: #FADA5E;
    margin-bottom: 0;
}

.cardContainer:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.backgroundThumbnail {

    min-height: 16rem;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@media screen and (max-width: 576px) {
    .cardContainer {
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
        width: 38%;
        margin: 0 1rem 1rem 0;
    }

    .backgroundThumbnail {
        height: 10rem;
    }

    .title {
        font-size: 1rem;
    }

    .cardContainer:hover {
        transform: scale(1, 1);
    }

    .voteAverage {
        padding: 0.5rem 0;
        margin: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}