.disable{
    opacity: 0.5;
}

.active{
    color: #333 !important;
    background-color: rgb(228, 210, 8) !important;
    font-weight: 700 !important;
}
.ulElement{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.btn{
    color: #fff;
    background-color: #333;
    font-size: 1rem;
    width: 100%;
    padding: 1.5rem 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-weight: 700;
}
.btn:hover{
    color: #333;
    background: rgb(228, 210, 8);
}
.listItemPageNumber{
    width: 3.5rem;
}
#pageNumberContainer{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 576px) {
    #pageNumberContainer{
        display: none;
    }
    
}